ALTER TABLE products ADD COLUMN IF NOT EXISTS derived_from_product_id UUID REFERENCES products(product_id);
ALTER TABLE job_steps ADD COLUMN IF NOT EXISTS outsource_cost NUMERIC(12, 2);
ALTER TABLE production_schedules ADD COLUMN IF NOT EXISTS run_type TEXT DEFAULT 'MASS';
